@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@(Html.DevExtreme().DataGrid<SecurityApps.Models.SecurityModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Home")
        .LoadAction("Get")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.SecurityMasterId);

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Type);
    })
)
